@page "/events"
<h3>ComponentEvents</h3>
<button @onclick="click">click </button>
@code {

    void click()
    {

    }
    protected override void OnAfterRender(bool firstRender)
    {

    }
    protected override void OnInitialized()
    {
        // <Routes @rendermode="@(new InteractiveServerRenderMode(prerender:false))" />
        //nur einmal aufegrufen
    }
    
}
