@page "/nav"
@page "/navB"
@inject NavigationManager SuperMan

<h3>Navi</h3>

<ul>
    <li><a href="/nav">nav</a></li>
    <li><a href="/navB">nav</a></li>
    <li><a href="/navB?id=122342">nav</a></li>
</ul>
<button class="btn btn-outline-danger" @onclick="click">Nav Man Subscribe </button>
@code {
    void click()
    {
        SuperMan.LocationChanged += Huch;
    }
    void Huch(object sender, LocationChangedEventArgs args)

    {
        

    }
}
