<h3>@Titel</h3>
<p>Antwort auf dei Frage @Antwort</p>
<div @attributes="MyProperty">hallo @ChildContent</div>
@ItemTemplate

@EmptyItemTemplate
@code {
    [Parameter]
    [EditorRequired]
    public string Titel { get; set; }
    [CascadingParameter()]
    public int Antwort { get; set; }
    [Parameter(CaptureUnmatchedValues =true)]
    public Dictionary<string,object> MyProperty { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment ItemTemplate { get; set; }
    [Parameter]
    public RenderFragment EmptyItemTemplate { get; set; }

}
 