@page "/uc"
<h3>UseComponent1</h3>
<CascadingValue Value="@("43")" Name="name1" >
    <CascadingValue Value="42">
        <Component Titel="Hallo Welt" width="100px" style="background-color:yellow">
     @*        <p>Hall ich bin HTML</p> *@
            <ItemTemplate><h2>Hallo Items</h2></ItemTemplate>
            <EmptyItemTemplate><b>nix da</b></EmptyItemTemplate>
        </Component>
    </CascadingValue>
</CascadingValue>
@code {

}
