@page "/uc"
<h3>UseComponent1</h3>
<CascadingValue Value="@("43")" Name="name1" >
    <CascadingValue Value="42">
        <Component Titel="Hallo Welt" width="100px" style="background-color:yellow">


        </Component>
    </CascadingValue>
</CascadingValue>
@code {

}
