@page
@model BlazorTraining8.Components.Pages.modul8.IndexModel

<h1>asp.net razor</h1>
<script>
    alert("hallo");
    var ret = prompt("test");
    
    document.title = "hallo Welt";
    var ls=localStorage.getItem("hannes");
    Clipboard.getItem();
    var o = new Object();

    o.hannes = "test";
    o.func = function () { };
</script>
@{
}
