@page "/chat"
@inject ChatVM VM
<div class="container">
    <div class="row">
        <div class="col">
            <form @onsubmit="send">
                <div class="input-group mb-3">
                    <input class="form-control" placeholder="suche" @bind="Eingabe" />
                    <button class="btn btn-outline-info"><i class="bi bi-send" type="submit"></i> send</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <ul class="list-group list-group-flush">



                @foreach (var item in VM.Liste)
                {
                    <li class="list-group-item">
                        @item.Nachricht


                    </li>
                }

            </ul>
        </div>
    </div>
</div>

@code {
    String Eingabe;
    protected override async Task OnInitializedAsync()
    {
        VM.OnAdd += UpdateUI;
    }
    void UpdateUI()
    {
        InvokeAsync(StateHasChanged);
    }
    void send()
    {
        VM.Add(Eingabe);
        Eingabe = "";
    }
}
