@page "/todo"
@inject IHttpClientFactory client
<h3>ToDoView</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input class="form-control" placeholder="suche" @bind="Eingabe"/>
                <button class="btn btn-outline-info">suche</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <ul class="list-group list-group-flush">

                <li class="list-group-item">ToDo </li>

                @if (Todos==null)
                {
                    <li class="list-group-item">Lade.... </li>
                }
                else
                {
                    @foreach (var item in Todos.todos.Where(x=>x.todo.Contains(Eingabe,StringComparison.InvariantCultureIgnoreCase)))
                    {
                        <li class="list-group-item" @key="item.id">@item.todo </li>
                    }
                    
                }
            </ul>
        </div>
    </div>
</div>
@code {
    TodoModel Todos;
    string Eingabe="";
    protected override async Task OnInitializedAsync()
    {
        using (var http = client.CreateClient())
        {
            Todos = await http.GetFromJsonAsync<TodoModel>("https://dummyjson.com/todos");
        }


    }

}
